$primary-7: rgb(var(--arcoblue-7));
$primary-6: rgb(var(--arcoblue-6));
$primary-5: rgb(var(--arcoblue-5));
$primary-4: rgb(var(--arcoblue-4));
$primary-3: rgb(var(--arcoblue-3));
$primary-2: rgb(var(--arcoblue-2));
$primary-1: rgb(var(--arcoblue-1));
$success-7: rgb(var(--green-7));
$success-6: rgb(var(--green-6));
$success-5: rgb(var(--green-5));
$success-4: rgb(var(--green-4));
$success-3: rgb(var(--green-3));
$success-2: rgb(var(--green-2));
$success-1: rgb(var(--green-1));
$warning-7: rgb(var(--orange-7));
$warning-6: rgb(var(--orange-6));
$warning-5: rgb(var(--orange-5));
$warning-4: rgb(var(--orange-4));
$warning-3: rgb(var(--orange-3));
$warning-2: rgb(var(--orange-2));
$warning-1: rgb(var(--orange-1));
$danger-7: rgb(var(--red-7));
$danger-6: rgb(var(--red-6));
$danger-5: rgb(var(--red-5));
$danger-4: rgb(var(--red-4));
$danger-3: rgb(var(--red-3));
$danger-2: rgb(var(--red-2));
$danger-1: rgb(var(--red-1));
$link-6: rgb(var(--arcoblue-6));
$link-5: rgb(var(--arcoblue-5));
$link-4: rgb(var(--arcoblue-4));
$link-3: rgb(var(--arcoblue-3));
$link-2: rgb(var(--arcoblue-2));
$link-1: rgb(var(--arcoblue-1));
$color-border-1: var(--color-neutral-2);
$color-border-2: var(--color-neutral-3);
$color-border-3: var(--color-neutral-4);
$color-border-4: var(--color-neutral-6);
$color-fill-1: var(--color-neutral-1);
$color-fill-2: var(--color-neutral-2);
$color-fill-3: var(--color-neutral-3);
$color-fill-4: var(--color-neutral-4);
$color-text-1: var(--color-neutral-10);
$color-text-2: var(--color-neutral-8);
$color-text-3: var(--color-neutral-6);
$color-text-4: var(--color-neutral-4);
$color-bg-1: var(--color-bg-1);
$color-bg-2: var(--color-bg-2);
$color-bg-3: var(--color-bg-3);
$color-bg-4: var(--color-bg-4);
$color-bg-5: var(--color-bg-5);
$color-bg-white: var(--color-bg-white);
$font-size-body-3: 14px;
$font-size-body-2: 13px;
$font-size-body-1: 12px;
$font-size-caption: 12px;
$font-size-title-1: 16px;
$font-size-title-2: 20px;
$font-size-title-3: 24px;
$font-size-display-1: 36px;
$font-size-display-2: 48px;
$font-size-display-3: 56px;
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
$size-none: 0;
$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 32px;
$size-9: 36px;
$size-10: 40px;
$size-11: 44px;
$size-12: 48px;
$size-13: 52px;
$size-14: 56px;
$size-15: 60px;
$size-16: 64px;
$size-17: 68px;
$size-18: 72px;
$size-19: 76px;
$size-20: 80px;
$size-21: 84px;
$size-22: 88px;
$size-23: 92px;
$size-24: 96px;
$size-25: 100px;
$size-50: 200px;
$size-mini: $size-6;
$size-small: $size-7;
$size-default: $size-8;
$size-large: $size-9;
$border-none: 0;
$border-1: 1px;
$border-2: 2px;
$border-3: 3px;
$border-radius-none: 0;
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 8px;
$border-radius-circle: 50%;
$shadow-special: 0 0 1px rgb(0 0 0 / 30%);
$shadow1-center: 0 -2px 5px rgb(0 0 0 / 10%);
$shadow2-center: 0 0 10px rgb(0 0 0 / 10%);
$shadow3-center: 0 0 20px rgb(0 0 0 / 10%);
